
.champs p img { vertical-align: middle; }
.champs p { line-height: 24px; }

.seasons { margin: 0 0 20px 0; max-width: 400px; }
.title-winner { font-size: 32px; }

.next-battle { margin: 30px 0; text-align: center; }
.next-battle .matchup { font-size: 32px; margin-bottom: 8px; vertical-align: center; }
.next-battle .matchup img { vertical-align: middle; }
.next-battle .date { font-size: 16px; }

.next-battles-after-team-win { text-align: center; margin: 20px 10px; }
.next-battle-after-team-win {
    display: inline-block;
    padding: 10px;
    margin: 0 5px;
    background-color: #f5f5f5;
    border-radius: 4px;
}
.next-battle-after-team-win .matchup { font-size: 16px; margin-bottom: 4px; }
.next-battle-after-team-win .matchup img { vertical-align: top; }
.next-battle-after-team-win .date { font-size: 10px; }
.next-battle-after-away-team-win {  }


table { border-collapse: collapse; }
th, td { border: 1px solid #666; padding: 2px 4px; text-align: left; }
th { background-color: #777; color: #fff; }
th[colspan] { text-align: center; }
td img { vertical-align: middle; }
tr { background-color: #fff; }
tr:nth-child(even) { background-color: #f5f5f5; }
th.numeric, td.numeric { text-align: center; }


