{% extends 'layout.html' %}
{% block content %}

    <div id="container">
        <div id="logo" class="row"></div>
        
        <div class="row">
            <h1>NHL Championship Belt</h1>
        </div>
        
        <div class="clear"></div>
        
        <div class="row">
                <h2>Holder of Champ. Belt</h2>
                <h2>Winner of Champ. Belt</h2>
            <div class="title-winner">
            </div>
        </div>
        
            <div class="row">
                <h2>NHL Champs</h2> 
                <div class="champs">
                    <p>
                    </p>
                    <p>
                    </p>
                </div>
            </div>
        
        <div class="row">
            <h2>Rules</h2>
            <ul>
                <li>It starts with the first game of last season's NBA champion.</li>
                <li>If the belt holding team gets beat it loses the belt to the other team.</li>
                <li>No playoffs, the race is over after the regular season.</li>
            </ul>
        </div>
        
        <div class="row">
            <h2>Data Sources</h2>
            <p>
                Idea: <a href="http://www.reddit.com/r/nba/comments/1pn9t2/can_we_keep_track_of_the_owner_of_the/">/u/hckygod91 on reddit</a><br>
                Scores: <a href="http://www.hockey-reference.com/">hockey-reference.com</a><br>
                Logos: <a href="http://www.nhl.com/">nhl.com</a><br>
                Contribute: <a href="https://github.com/cabusto/nhlchampionshipbelt">cabusto/nhlchampionshipbelt</a>
            </p>
        </div>
        
        <div class="clear"></div>

        <div class="row">
            <h2>Game Log</h2>
                <div style="max-width: 800px;">
                        <div style="float: left; height: 22px; width: <?= $lastGame->getWinStreak() * 8; ?>px; background: url(<?= getTeamLogoURL($newBeltHolder); ?>) center;"
                             title="<?= $newBeltHolder->getName() . ': ' . $lastGame->getWinStreak() . ' games (' . $firstGame->getGame()->getDate()->format('Y-m-d') . ' - ' . $lastGame->getGame()->getDate()->format('Y-m-d') . ')'; ?>"></div>
                </div>
                <div class="clear"></div>
                <table>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Date</th>
                            <th>Home Team</th>
                            <th>Score</th>
                            <th>Away Team</th>
                            <th>Winner</th>
                            <th>Streak</th>
                            <th>Wins</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            
                <div class="next-battle">
                    <h2>Next Battle for the Belt</h2>
                    
                    <div class="matchup">
                    </div>
                    <div class="date">
                    </div>
                </div>
                
                <div class="next-battles-after-team-win">
                    <div class="next-battle-after-team-win next-battle-after-away-team-win">
                            <div class="matchup">
                            </div>
                            <div class="date">
                            </div>
                            <p>No more games!</p>
                    </div>
                
                    <div class="next-battle-after-team-win next-battle-after-home-team-win">
                            <div class="matchup">
                            </div>
                            <div class="date">
                            </div>
                            <p>No more games!</p>
                    </div>
                </div>
        </div>
        
        <div class="row">
            <h2>Stats</h2>
            <table>
                <thead>
                    <tr>
                        <th rowspan="2">Rank</th>
                        <th rowspan="2">Team</th>
                        <th rowspan="2" class="numeric">Games</th>
                        <th colspan="3" class="numeric">Wins</th>
                        <th colspan="3" class="numeric">Losses</th>
                        <th rowspan="2">Win %</th>
                    </tr>
                    <tr>
                        <th class="numeric">Total</th>
                        <th class="numeric"><small title="As Challenger">As Chall.</small></th>
                        <th class="numeric"><small title="As Defender">As Def.</small></th>
                        <th class="numeric">Total</th>
                        <th class="numeric"><small title="As Challenger">As Chall.</small></th>
                        <th class="numeric"><small title="As Defender">As Def.</small></th>
                    </tr>
                </thead>
                <tbody>
                        <tr>
                            <td>
                            </td>
                            <td class="numeric"></td>
                            <td class="numeric"></td>
                            <td class="numeric"><small></small></td>
                            <td class="numeric"><small></small></td>
                            <td class="numeric"></td>
                            <td class="numeric"><small></small></td>
                            <td class="numeric"><small></small></td>
                            <td></td>
                    </tbody>
            </table>
        </div>
        
        <div class="clear"></div>
    </div>

{% endblock %}