{% extends 'layout.html' %}
{% block content %}

    
    <div id="container">
        <div id="logo" class="row">
            <img src="{{ url_for('static', filename='img/hockey_logo.jpg') }}" alt="" title="">
        </div>
        
        <div class="row">
            <h1>NHL Championship Belt</h1>
        </div>
        
        <div class="clear"></div>
        
        <div class="row">
            {% if isOngoingSeason: %}
                <h2>Holder of Champ. Belt</h2>
            {% else: %}
                <h2>Winner of Champ. Belt</h2>
            {% endif %}
            <div class="title-winner">
                <img src="{{ url_for('static', filename='img/nhl-teams/' + beltHolder.getID() + '.png') }}" alt="" title=""> <span title="">{{ beltHolder.getID()}}</span>
            </div>
        </div>
        
            <div class="row">
                <h2>NHL Champs</h2> 
                <div class="champs">
                    <p>
                    <img src="{{ url_for('static', filename='img/nhl-teams/CHI.png') }}" alt="" title=""> <span title=""><p>CHI (2012/13)</p><p>TBD. (2013/14)</p><p></span>
                </div>
            </div>
        
        <div class="row">
            <h2>Rules</h2>
            <ul>
                <li>It starts with the first game of last season's NHL champion.</li>
                <li>If the belt holding team gets beat it loses the belt to the other team.</li>
                <li>No playoffs, the race is over after the regular season.</li>
            </ul>
        </div>
        
        <div class="row">
            <h2>Data Sources</h2>
            <p>
                Idea: <a href="http://www.reddit.com/r/nba/comments/1pn9t2/can_we_keep_track_of_the_owner_of_the/">/u/hckygod91 on reddit</a><br>
                Scores: <a href="http://www.hockey-reference.com/">hockey-reference.com</a><br>
                Logos: <a href="http://www.nhl.com/">nhl.com</a><br>
                Contribute: <a href="https://github.com/cabusto/nhlchampionshipbelt">cabusto/nhlchampionshipbelt</a>
            </p>
        </div>
        
        <div class="clear"></div>

        <div class="row">
            <h2>Game Log</h2>
                <table>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Date</th>
                            <th>Home Team</th>
                            <th>Score</th>
                            <th>Away Team</th>
                            <th>Winner</th>
                            <th>Streak</th>
                            <th>Wins</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% set i = 1 %}
                        {% for beltGame in gameLog.getGames() %}
                            {% set game = beltGame.getGame() %}
                            {% set newBeltHolder = beltGame.getBeltHolderAfterGame() %}
                        
                        <tr>
                            <td>{{ i }}</td>
                            <td>{{ game.getDate() }}</td>
                            <td>{{ game.getHomeTeam().getID() }}</td>
                            <td>{{ game.getScore() }}</td>
                            <td>{{ game.getAwayTeam().getID() }}</td>
                            <td><img src="{{ url_for('static', filename='img/nhl-teams/' + newBeltHolder.getID() + '.png') }}" ></td>
                            <td>{{ beltGame.getWinStreak() }}</td>
                            <td>{{ beltGame.getAccumulatedWins() }}</td>
                        </tr>
                        {% set i = i + 1 %}
                        {% endfor %}
                    </tbody>
                </table>

                {% if (upcomingChampGame != None): %}
                <div class="next-battle">
                    <h2>Next Battle for the Belt</h2>
                        <div class="matchup">
                            {{ upcomingChampGame.getAwayTeam().getID() }}
                            @
                            {{ upcomingChampGame.getHomeTeam().getID() }}
                        </div>

                        <div class="date">
                                {{ upcomingChampGame.getDate() }}
                        </div>
                {% else: %}
                    <p>No More Games!</p>
                {% endif %}
                </div>
                <div class="next-battles-after-team-win">
                {% if (upcomingChampGameIfAwayTeamWins != None): %}
                    <div class="next-battle-after-team-win next-battle-after-away-team-win">
                            <div class="matchup">
                            {{ upcomingChampGameIfAwayTeamWins.getAwayTeam().getID() }}
                            @
                            {{ upcomingChampGameIfAwayTeamWins.getHomeTeam().getID() }}
                            </div>

                            <div class="date">
                                {{ upcomingChampGameIfAwayTeamWins.getDate() }}
                            </div>
                {% else: %}
                        <p>No More Games!</p>
                {% endif %}
                           
                    </div>
                
                {% if (upcomingChampGameIfHomeTeamWins != None): %}
                    <div class="next-battle-after-team-win next-battle-after-home-team-win">
                
                            <div class="matchup">
                            {{ upcomingChampGameIfHomeTeamWins.getAwayTeam().getID() }}
                            @
                            {{ upcomingChampGameIfHomeTeamWins.getHomeTeam().getID() }}
                            </div>
                            <div class="date">
                            {{ upcomingChampGameIfHomeTeamWins.getDate() }}
                            </div>
                {% else: %}
                        <p>No More Games!</p>
                {% endif %}
                    </div>
                </div>
        </div>
        
        <div class="row">
            <h2>Stats</h2>
            <table>
                <thead>
                    <tr>
                        <th rowspan="2">Rank</th>
                        <th rowspan="2">Team</th>
                        <th rowspan="2" class="numeric">Games</th>
                        <th colspan="3" class="numeric">Wins</th>
                        <th colspan="3" class="numeric">Losses</th>
                        <th rowspan="2">Win %</th>
                    </tr>
                    <tr>
                        <th class="numeric">Total</th>
                        <th class="numeric"><small title="As Challenger">As Chall.</small></th>
                        <th class="numeric"><small title="As Defender">As Def.</small></th>
                        <th class="numeric">Total</th>
                        <th class="numeric"><small title="As Challenger">As Chall.</small></th>
                        <th class="numeric"><small title="As Defender">As Def.</small></th>
                    </tr>
                </thead>
                {% set rank = 1 %}
                {% set prevWinPct = None %}
                {% set prevNumGames = None %}
                {% for s in stats.stats: %}
                <tbody>
                        <tr>
                            <td>

                            </td>
                            <td class="numeric"></td>
                            <td class="numeric"></td>
                            <td class="numeric"><small></small></td>
                            <td class="numeric"><small></small></td>
                            <td class="numeric"></td>
                            <td class="numeric"><small></small></td>
                            <td class="numeric"><small></small></td>
                            <td></td>
                {% endfor %}
                    </tbody>
                
            </table>
        </div>
        
        <div class="clear"></div>
    </div>

{% endblock %}