{% extends 'layout.html' %}
{% block content %}

<div class="container">	
	<div class="row">
		<div class="span4">
	    	<img src="{{ url_for('static', filename='img/NHL_ChampBelt.png') }}" alt="" title="">
	    </div>
	    <div class="span8">
	    	<h1>NHL Championship Belt</h1>
		</div>
	</div>

	<div class="row">
		<div class="span4">
			<h4>Data Sources</h4>
	            <p>
	                Idea: <a href="http://www.reddit.com/r/nba/comments/1pn9t2/can_we_keep_track_of_the_owner_of_the/">/u/hckygod91 on reddit</a><br>
	                Follow: <a href="https://twitter.com/NHLChampBelt">@NHLChampBelt</a><br>
	                Discuss:<a href="http://www.reddit.com/r/nhlchampionshipbelt">/r/nhlchampionshipbelt on reddit</a><br>
	                Scores: <a href="http://www.hockey-reference.com/">hockey-reference.com</a><br>
	                Logos: <a href="http://www.nhl.com/">nhl.com</a><br>
	                Contribute: <a href="https://github.com/cabusto/nhlchampionshipbelt">cabusto/nhlchampionshipbelt</a><br>
	                Contribute: <a href="https://github.com/bigwhoop/nbachampionshipbelt">bigwhoop/nbachampionshipbelt</a><br>
	            </p>
		</div>
		<div class="span8">
			<h4>How it works</h4>
		        <ul>
		            <li>The belt starts with last season's NHL champion.</li>
		            <li>If they lose, there is a new champion.</li>
		            <li>No playoffs, the race is over after the regular season.</li>
		        </ul>
		        <div class="row">
			        <div class="span4">
			        	<h5>NHL Champs</h5> 	
			        		<img src="{{ url_for('static', filename='img/nhl-teams/CHI.png') }}" 
			        		alt="" 
			        		title="">
			        		<small>Chicago Blackhawks</small>
			        </div>
			        <div class="span4">
				        {% if isOngoingSeason: %}
			                <h5>Belt Holder</h5>
			            {% else: %}
			                <h5>Belt Winner</h5>
			            {% endif %}
			        		<img src="{{ url_for('static', filename='img/nhl-teams/' + beltHolder.getID() + '.png') }}" alt="" title="">
			        		<small>{{ beltHolder.getName()}}</small>
			        </div>
		        </div>
		</div>
	</div>
</div>

<hr>

<div class="row">
	<div class="span12">
		{% if (upcomingChampGame != None): %}
            <div class="next-battle">
                <h2>Next Battle for the Belt</h2>
                <div class="matchup">
                	{{ upcomingChampGame.getAwayTeam().getID() }}
                    <img 
                        src="{{ url_for('static', filename='img/nhl-teams/' + upcomingChampGame.getAwayTeam().getID() + '.png') }}" 
                        alt="{{ upcomingChampGame.getAwayTeam().getID() }}" 
                        title="{{ upcomingChampGame.getAwayTeam().getID() }}">
                        @
                    <img 
                        src="{{ url_for('static', filename='img/nhl-teams/' + upcomingChampGame.getHomeTeam().getID() + '.png') }}" 
                        alt="{{ upcomingChampGame.getHomeTeam().getID() }}" 
                        title="{{ upcomingChampGame.getHomeTeam().getID() }}">
                    {{ upcomingChampGame.getHomeTeam().getID() }}
                </div>

                <div class="date">
                    {{ upcomingChampGame.getDate() }}
                </div>
        {% else: %}
            <p>No More Games!</p>
        {% endif %}
            </div>      
	</div>
</div>
<div class="row">
<div class="span6">
<div class="next-battle">
    {% if (upcomingChampGameIfAwayTeamWins != None): %}
        <div class="matchup">
            <img 
            src="{{ url_for('static', filename='img/nhl-teams/' + upcomingChampGameIfAwayTeamWins.getAwayTeam().getID() + '.png') }}" 
            alt="{{ upcomingChampGameIfAwayTeamWins.getAwayTeam().getID() }}" 
            title="{{ upcomingChampGameIfAwayTeamWins.getAwayTeam().getID() }}">
            @
            <img 
            src="{{ url_for('static', filename='img/nhl-teams/' + upcomingChampGameIfAwayTeamWins.getHomeTeam().getID() + '.png') }}" 
            alt="{{ upcomingChampGameIfAwayTeamWins.getHomeTeam().getID() }}" 
            title="{{ upcomingChampGameIfAwayTeamWins.getHomeTeam().getID() }}">
        </div>

        <div class="date">
            {{ upcomingChampGameIfAwayTeamWins.getDate() }}
        </div>
    {% else: %}
           <p>No More Games!</p>
    {% endif %}
               
    </div>
  
</div>
<div class="span6">
	<div class="next-battle">        
    {% if (upcomingChampGameIfHomeTeamWins != None): %}
        <div class="matchup">
            <img 
            src="{{ url_for('static', filename='img/nhl-teams/' + upcomingChampGameIfHomeTeamWins.getAwayTeam().getID() + '.png') }}" 
            alt="{{ upcomingChampGameIfHomeTeamWins.getAwayTeam().getID() }}" 
            title="{{ upcomingChampGameIfHomeTeamWins.getAwayTeam().getID() }}">
            @
            <img 
            src="{{ url_for('static', filename='img/nhl-teams/' + upcomingChampGameIfHomeTeamWins.getHomeTeam().getID() + '.png') }}" 
            alt="{{ upcomingChampGameIfHomeTeamWins.getHomeTeam().getID() }}" 
            title="{{ upcomingChampGameIfHomeTeamWins.getHomeTeam().getID() }}">
        </div>
        <div class="date">
            {{ upcomingChampGameIfHomeTeamWins.getDate() }}
        </div>
    {% else: %}
            <p>No More Games!</p>
    {% endif %}
        </div>
    </div>

</div>


<div class="row">
<div class="span6">
<h2>Game Log</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Date</th>
                            <th>Home Team</th>
                            <th>Score</th>
                            <th>Away Team</th>
                            <th>Winner</th>
                            <th>Streak</th>
                            <th>Wins</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% set i = 1 %}
                        {% for beltGame in gameLog.getGames() %}
                            {% set game = beltGame.getGame() %}
                            {% set newBeltHolder = beltGame.getBeltHolderAfterGame() %}
                        
                        <tr>
                            <td>{{ i }}</td>
                            <td>{{ game.getDate() }}</td>
                            <td>{{ game.getHomeTeam().getID() }}</td>
                            <td>{{ game.getScore() }}</td>
                            <td>{{ game.getAwayTeam().getID() }}</td>
                            <td><img src="{{ url_for('static', filename='img/nhl-teams/' + newBeltHolder.getID() + '-med.png') }}" ></td>
                            <td>{{ beltGame.getWinStreak() }}</td>
                            <td>{{ beltGame.getAccumulatedWins() }}</td>
                        </tr>
                        {% set i = i + 1 %}
                        {% endfor %}
                    </tbody>
                </table>
                </div>
</div>
 {% endblock %}