<!DOCTYPE html>
<html>
<head>
    <title>NHL Championship Belt</title>
    <!--
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}"/>
    -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}"/>
</head>
<body>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- nhl2 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-5256590087007591"
     data-ad-slot="3136854772"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<div class="container">
    {% block content %}
 
    {% endblock %}
    <hr/>
</div>
</body>
</html>